
.card{
    margin: 60px 150px 0 200px;
}

.sideBarText{
    padding-top: 130px;
    width: 160px;
}

.cardHeader{

}

.finalButton{
    margin: 20px 20px 20px 800px ;

}

.timePicker{
    display: inline-block;
}

.listText{
    color: aliceblue;
}

.icons{
    padding-right: 100px;

}
.icon{
    text-align: center;
    /*background-color: white;*/
}